body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: cursive;
}
#juegos
{
    background-color: blueviolet;
}
.line
{
    background-color: aquamarine;
    width: 70px;
    height: 80px;
    margin: 8px auto;
}